<%- include('partials/header.ejs') %>

<body class="text-center">
    <form method="POST">
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <button class="btn btn-dark"> Login </button>
    </form>
    <br>
    <form action="/register">
        <button class="btn btn-warning"> Register Account </button>
    </form>
    <br>
    <br>
    <% if (typeof loginError != "undefined" && loginError){ %>
            <h3 class="error" style="color: red;">Wrong Credentials!</h3>
    <% } %>
    <br><br>    
</body>  
<%- include('partials/footer.ejs') %>
<br>
<%- include('partials/fakeweb.ejs') %>
<br><br>
</html>

