<%- include('partials/header.ejs') %>

    <body class="text-center">
        <h1 class="jumbotron"> Game Depot </h1>
        <h2> Selling New and Classic PS4 Games </h2>
        <br><br>
        
        <div class="container">
            <div class="row">
                <div class="col shadow-lg p-3 mb-5 bg-white rounded">
                    Game #1<br>
                    <img src="img/game1.jpg" alt="Game1" class="rounded" width="200" height="250" />
                    <br><br>
                    <button type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col shadow-lg p-3 mb-5 bg-white rounded">
                    Game #2<br>
                    <img src="img/game2.jpg" alt="Game2" class="rounded" width="200" height="250" />
                    <br><br>
                    <button type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col shadow-lg p-3 mb-5 bg-white rounded">
                    Game #3<br>
                    <img src="img/game3.jpg" alt="Game3" class="rounded" width="200" height="250" />
                    <br><br>
                    <button type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
            </div>
            <br><br>
            <div class="row shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col">
                    Game #1<br>
                    <img src="img/game4.jpg" alt="Game4" width="200" height="250" />
                </div>
                <div class="col">
                    Game #2<br>
                    <img src="img/game5.jpg" alt="Game5" width="200" height="250" />
                </div>
                <div class="col">
                    Game #3<br>
                    <img src="img/game6.jpg" alt="Game6" width="200" height="250" />
                </div>
            </div>
            <br><br>
            <div class="row shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col">
                    Game #1<br>
                    <img src="img/game7.jpg" alt="Game7" width="200" height="250" />
                </div>
                <div class="col">
                    Game #2<br>
                    <img src="img/game8.jpg" alt="Game8" width="200" height="250" />
                </div>
                <div class="col">
                    Game #3<br>
                    <img src="img/game9.jpg" alt="Game9" width="200" height="250" />
                </div>
            </div>
            <br><br>
            <div class="row shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col">
                    Game #1<br>
                    <img src="img/game10.jpg" alt="Game10" width="200" height="250" />
                </div>
                <div class="col">
                    Game #2<br>
                    <img src="img/game11.jpg" alt="Game11" width="200" height="250" />
                </div>
                <div class="col">
                    Game #3<br>
                    <img src="img/game12.jpg" alt="Game12" width="200" height="250" />
                </div>
            </div>
        </div>

    </body>

<%- include('partials/footer.ejs') %>
    
</html>