<%- include('partials/header.ejs') %>

   <body class="text-center">     
        <h2 style="font-size: 5em"> BEST SELLERS </h2><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <img src="<%= ps4Url %>" width="400" height="370">
                </div>
                <div class="col-2 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game1cost"></span><br>
                    <img src="img/game1.jpg" alt="Game1" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game1" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-2 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game2cost"></span><br>
                    <img src="img/game2.jpg" alt="Game2" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game2" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-2 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game3cost"></span><br>
                    <img src="img/game3.jpg" alt="Game3" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game3" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div id="shoppingcart" class="col-3" style="border-style: solid">
                    <form action="/checkout">
                        <h2> SHOPPING CART </h2><br>
                        <table id="cart" style="width:100%; background-color: #f1f1c1; text-align:left">
                            <tr>
                                <th>GAME</th>
                                <th>QTY</th> 
                                <th>COST</th>
                            </tr>
                        </table><br>
                        <strong>TOTAL COST: $</strong><span id="totalCost"></span><br><br>
                        <button class="btn btn-primary"> Checkout </button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
            <br><br>
        <div class="container">
            <div class="row">
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game4cost"></span><br>
                    <img src="img/game4.jpg" alt="Game1" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game4" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game5cost"></span><br>
                    <img src="img/game5.jpg" alt="Game2" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game5" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game6cost"></span><br>
                    <img src="img/game6.jpg" alt="Game3" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game6" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game7cost"></span><br>
                    <img src="img/game7.jpg" alt="Game1" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game7" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game8cost"></span><br>
                    <img src="img/game8.jpg" alt="Game2" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game8" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game9cost"></span><br>
                    <img src="img/game9.jpg" alt="Game3" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game9" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game10cost"></span><br>
                    <img src="img/game10.jpg" alt="Game1" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game10" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game11cost"></span><br>
                    <img src="img/game11.jpg" alt="Game2" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game11" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
                <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <span id="game12cost"></span><br>
                    <img src="img/game12.jpg" alt="Game3" class="rounded" width="200" height="250" />
                    <br><br>
                    <button id="game12" type="button" class="btn btn-success text-nowrap"> Add to Cart </button>
                </div>
            </div>
        </div>

    </body>

<%- include('partials/footer.ejs') %>
<br>
<%- include('partials/fakeweb.ejs') %>
<br><br>
    
</html>