<%- include('partials/header.ejs') %>

    <body class="text-center">
        <form action="/">
            <h3 id="registered"> You Registered Successfully </h3><br><br>
            <button class="btn btn-dark"> Login Page </button>
        </form>
    </body>

<%- include('partials/footer.ejs') %>
<br>
<%- include('partials/fakeweb.ejs') %>
<br><br>
</html>
    