<!DOCTYPE html>
<html>
<head>
    <title>Game Depot Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body class="bg-primary text-white">
    <br><br><br>
    <h1 class="p-5 d-flex justify-content-center display-1">Thank you for your order!</h1>
    <h2 class="p-5 d-flex justify-content-center display-4">A receipt will be sent to your email.</h2>
</body>
</html>